{% extends 'products/base.html' %}
{% block title %}Index{% endblock %}
{% block body %}
    {% if products %}
<div class="container">
    <div class="row">

        <h1> Available products:</h1>
        <br>

        {% for product in products %}

        <div class="col-md-3 col-lg-3">

              <div class="thumbnail">
                <img class="img-responsive" src="{{ product.picture.url }}">
                <div class="caption">
                    <h4 class="pull-right">{{ product.price }} €</h4>
                    <h4><a href="#">{{ product.name }}</a></h4>
                    <p> {{ product.description }}</p>

                </div>
                <div class="ratings">
                    {% if product.avg_rating == -1 %}
                        <p>Nobody rate this yet</p>
                    {% elif product.avg_rating == 0 %}
                        <p>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            {{product.number_of_assessments}} review/s
                        </p>
                     {% elif product.avg_rating == 1 %}
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            {{product.number_of_assessments}} review/s
                        </p>
                    {% elif product.avg_rating == 2 %}
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            {{product.number_of_assessments}} review/s
                        </p>
                    {% elif product.avg_rating == 3 %}
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            {{product.number_of_assessments}} review/s
                        </p>
                    {% elif product.avg_rating == 4 %}
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            {{product.number_of_assessments}} review/s
                        </p>
                    {% elif product.avg_rating == 5 %}
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            {{product.number_of_assessments}} review/s
                        </p>
                    {% endif %}

                </div>
                <div class="space-ten"></div>
                <div class="btn-ground text-center">
                    <!--<button type="button" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Make an assessment</button>-->
                    <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#product_view"><i class="fa fa-search"></i> View</button>-->
                    <!-- View Details -->
                    <a href="{% url 'detail' product.id %}" class="btn btn-primary btn-sm" role="button">Reviews</a>
                </div>
                <div class="space-ten"></div>
              </div>

        </div>


        {% endfor %}
    </div>
</div>
        <div class="center">
            {% if products.has_other_pages %}
              <ul class="pagination">
                {% if products.has_previous %}
                  <li><a href="?page={{ products.previous_page_number }}">&laquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in products.paginator.page_range %}
                  {% if products.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if products.has_next %}
                  <li><a href="?page={{ products.next_page_number }}">&raquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
            {% endif %}
        </div>
    {% else %}
        <h1>There are not products available</h1>
    {% endif %}

<div class="container">
        <div class="row">
            <h3>Recommended products:</h3>
            <br>
            <div class="col-md-12">
              <ul class="horizontal-slide">
                  {% if productsRandom %}

                        {% for productRandom in productsRandom %}

                            <li class="col-md-4"><a href="{% url 'detail' productRandom.id %}">

                                <img src="{{ productRandom.picture.url }}" width="250" height="250" class="img-rounded" title="{{ productRandom.name }}">

                            </a></li>

                        {% endfor %}

                  {% else %}

                        <h3>There are not recommended products available</h3>

                  {% endif %}
              </ul>
          </div>
        </div>
    </div>
</div>

<!--<div class="container">
        <div class="row">
            <h3>Recommended products:</h3>
            <div class="span12">
                <div class="well">
                    <div id="myCarousel" class="carousel fdi-Carousel slide">

                        <div class="carousel fdi-Carousel slide" id="eventCarousel" data-interval="0">
                            <div class="carousel-inner onebyone-carosel">

                                {% if productsRandom %}

                                    {% for productRandom in productsRandom %}

                                        {% if forloop.first %}
                                            <div class="item active">
                                                <div class="col-md-4">
                                                    <a href="{% url 'detail' productRandom.id %}"><img src="{{ productRandom.picture.url }}" width="250" height="250"></a>

                                                </div>
                                            </div>
                                        {% else %}

                                            <div class="item">
                                                <div class="col-md-4">
                                                    <a href="{% url 'detail' productRandom.id %}"><img src="{{ productRandom.picture.url }}" width="250" height="250"></a>
                                                </div>
                                            </div>

                                        {% endif %}

                                    {% endfor %}

                                {% else %}
                                     <h3>There are not recommended products available</h3>
                                 {% endif %}

                            </div>
                            <a class="left carousel-control" href="#eventCarousel" data-slide="prev"></a>
                            <a class="right carousel-control" href="#eventCarousel" data-slide="next"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

{% endblock %}